# Byte-compiled Python
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual environments
.env/
venv/
env/

# IDEs
.vscode/
.idea/

# DVC & data directories
.dvc/
.dvc/cache/
data/
raw_data/

# Logs and temp files
*.log
tmp/

# OS cruft
.DS_Store
Thumbs.db
/raw_data
/ariel-data-challenge-2025.zip
